.content {
  text-align: center;
}
.sm-wrapper {
  display: inline-block;
  padding: 0;
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin: 0 20px 30px 0;
}
.sm-wrapper a {
  display: block;
  height: 170px;
  width: 344px;
}
.sm-wrapper a,
.sm-wrapper span {
  -webkit-transition: all 400ms ease;
     -moz-transition: all 400ms ease;
          transition: all 400ms ease;
}
.sm-wrapper span {
  font-size: 200px;
  line-height: 170px;
  float: left;
  color: #111;
}
.sm-wrapper span.fb.active {
  color: #1c407b;
}
.sm-wrapper span.tw.active {
  color: #28aae1;
}
.sm-wrapper span.yt.active {
  color: #b00;
}
.sm-wrapper span.tb.active {
  color: #304e6c;
}
.sm-wrapper:hover a span {
  margin-left: -171px;
}
.sm-wrapper a span.active {
  margin-left: -1px;
}