.content {
  text-align: center;
}
.ld-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 250px;
}
.ld-wrapper span {
  display: block;
  padding: 0;
  width: 10%;
  height: auto;
  margin: 0;
  font-size: 100%;
  animation: pingpong 300ms ease-in-out alternate infinite;
}
@-webkit-keyframes pingpong {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 89%;
  }
}
@keyframes pingpong {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 89%;
  }
}